<html>
<head>
<title>SARS2 Assembly and Annotation Report</title>

<style>
/* Home New Styles */
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto");
#patric-homepage {
  color: #454545;
  font-family: "Arial", Arial, Helvetica, sans-serif;
}

#patric-homepage h2 {
  font-size: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #454545;
  font-weight: 700;
  margin-bottom: 12px;
}

#patric-homepage h3 {
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #454545;
  font-weight: 700;
  margin-bottom: 12px;
}

#patric-homepage p {
  font-size: 14px;
  font-family: "Didact Gothic", Arial, Helvetica, sans-serif;
  color: #454545;
}

#patric-homepage ul {
  list-style: none;
  padding: 0;
}

#patric-homepage a {
  color: #3E5775;
  font-size: 14px;
}

#patric-homepage {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 991px) {
  #patric-homepage #patric-homepage-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 830px;
  }
  #patric-homepage .grid-container {
    display: grid;
    grid-template-columns: 365px 365px;
    grid-template-rows: 220px 375px 410px 220px;
    grid-gap: 20px;
  }
  #patric-homepage .browse-search {
    grid-column: 1 / 3;
  }
  #patric-homepage .analyze-data {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  #patric-homepage .omics-data {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  #patric-homepage .my-data {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  #patric-homepage .announcements {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #patric-homepage .twitter-feed {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media (min-width: 992px) {
  #patric-homepage #patric-homepage-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 1300px;
  }
  #patric-homepage .grid-container {
    display: grid;
    grid-template-columns: 440px 440px 300px;
    grid-template-rows: 225px 170px 170px 225px;
    grid-gap: 20px;
  }
  #patric-homepage .browse-search {
    grid-column: 1 / 3;
  }
  #patric-homepage .analyze-data {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  #patric-homepage .omics-data {
    grid-column: 1 / 2;
  }
  #patric-homepage .my-data {
    grid-column: 2 / 3;
  }
  #patric-homepage .announcements {
    grid-row: 1 / 3;
  }
  #patric-homepage .twitter-feed {
    grid-row: 3 / 5;
  }
}

#patric-homepage {
  background: #F2F2F2;
}
</style>
</head>
<body id="patric-homepage">


<h1>SARS2 Analysis Report for [% gto.scientific_name %]</h1>

[% FOREACH vset IN gto.computed_variants -%]
[% IF vset.tool == "pangolin" -%]
<h2>Pangolin Lineage</h2><p>
We analyzed this genome with Pangolin version [% vset.tool_metadata.pangolin_version %].
[% IF vset.linage == "None" -%]
No lineage was able to be computed.
[% ELSE -%]
Pangolin determined the
lineage for this assembly to be <em><b>[% vset.lineage %]</b></em>
[% IF  vset.probability.defined -%]
with a probability of [% vset.probability %].
[% ELSIF  vset.conflict.defined -%]
with a conflict of [% vset.conflict %].
[% END -%]
[% END -%]
[% IF vset.ambiguity_score.defined -%]
The ambiguity score is [% vset.ambiguity_score %].
[% END -%]

<p>Pangolin status:  [% vset.status %]<br>
[% IF vset.notes.defined -%]
Pangolin notes:  [% vset.notes %]<br>
[% END -%]
[% IF vset.note.defined -%]
Pangolin notes:  [% vset.note %]<br>
[% END -%]
Version information:<br>
[% FOR k IN vset.tool_metadata.keys.sort  %]
[% k %]: [% vset.tool_metadata.$k %]<br> 
[% END -%]
<p>You can read more about the Pangolin output data at 
<a href="https://cov-lineages.org/resources/pangolin/output.html">the pangolin documentation site</a>.
[% END -%]
[% END -%]

[% FOREACH vset IN gto.computed_variants -%]
[% IF vset.tool == "assembly pipeline" -%]
<h2>Protein SNPs from assembly</h2><p>

<table border=1>
<tr><th>Gene</th><th>SNPs</th></tr>
[% FOREACH var IN vset.variants -%]
[% IF var.gene == "S"  && var.snps.size() > 0 -%]
<tr><td>[% var.gene %]</td>
<td>
[% FOR snp IN var.snps -%]
[% IF snp.ref_aa && snp.alt_aa && snp.ref_aa != "NA" && snp.alt_aa != "NA" -%]
[% snp.ref_aa %][% snp.feature_pos %][% snp.alt_aa %]
[% END -%]
[% END -%]
</td>
[% END -%]
[% END -%]
[% FOREACH var IN vset.variants -%]
[% IF var.gene != "S"  && var.snps.size() > 0 -%]
<tr><td>[% var.gene %]</td>
<td>
[% FOR snp IN var.snps -%]
[% IF snp.ref_aa && snp.alt_aa  && snp.ref_aa != "NA" && snp.alt_aa != "NA" -%]
[% snp.ref_aa %][% snp.feature_pos %][% snp.alt_aa %]
[% END -%]
[% END -%]
</td>
[% END -%]
[% END -%]
</table>
[% END -%]
[% END -%]

[% IF gto.job_data.assembly -%]
<h2>Assembly statistics</h2>
<table border=1>
<tr><td>Job ID</td><td>[% gto.job_data.assembly.job_id %]</td></tr>
<tr><td>Elapsed time</td><td>[% gto.job_data.assembly.elapsed_time %] sec</td></tr>
<tr><td>User-selected Recipe</td><td>[% gto.job_data.assembly.parameters.recipe %]</td></tr>
<tr><td>Platform</td><td>[% assembly_details.platform %]</td></tr>
<tr><td>Library type</td><td>[% assembly_details.library_type %]</td></tr>
<tr><td>Chosen recipe</td><td>[% assembly_details.recipe %]</td></tr>
<tr><td>Number of Ns in assembly</td><td>[% assembly_details.total_ns %]</td></tr>
<tr><td>Number of N blocks in assembly</td><td>[% assembly_details.n_blocks %]</td></tr>

</table>

[% IF coverage_data -%]
<h2>Coverage</h2>

<p align="center">
<img src="data:image/png;base64,[% coverage_data -%]"
style="border-width: 2px; border-style: solid;"/>

[% END -%]
[% IF vcf_tabular -%]
<h2>Variation data:</h2>
<table border=1>
<tr>
[% FOR k IN vcf_tabular.0 -%]
<th>[% k %]</th>
[% END -%]
</tr>
[% FOR row IN vcf_tabular.slice(1) -%]
<tr>
[% FOR v IN row -%]
<td>[% v %]</td>
[% END -%]
</tr>
[% END -%]
</table>
[% ELSE -%]
[% IF vcf_data -%]
<h2>Variation data:</h2>
<pre>
[% vcf_data -%]
</pre>
[% END -%]
[% END -%]
[% END -%]

<h1>SARS2 Annotation Report for [% gto.scientific_name %]</h1>

[% IF gto.job_data.annotation.fasta_size == 0 -%]
No annotation was performed due to zero-length contig input.
[% ELSE -%]
<table border=1>
<tr><td>Job ID</td><td>[% gto.job_data.annotation.job_id %]</td></tr>
<tr><td>Elapsed time</td><td>[% gto.job_data.annotation.elapsed_time %] sec</td></tr>
</table>

<p>

[% IF !gto.exists('features') || gto.features.size == 0 -%]
No features were found.
[% ELSE -%]
<h2>Features annotated:</h2>
<p>
<table border=1>
<tr>
<th>ID</th>
<th>Start</th>
<th>Strand</th>
<th>Length</th>
<th>Function</th>
</tr>
[% FOR f IN gto.features -%]
<tr>
<td>[% f.id %]</td>
<td>[% f.location.0.1 %]</td>
<td>[% f.location.0.2 %]</td>
<td>[% f.location.0.3 %]</td>
<td>[% f.function %]</td>
[% END -%]
</table>
[% END -%]
[% END -%]

[% IF gto.sra_metadata.size() > 0 -%]
<h2>SRA Metadata</h2><p>
[% FOR m IN gto.sra_metadata -%]
<h3>Accession [% m.accession %]</h3><p>
<table border=1>
<tr><th>Key</th><th>Value</th></tr>
[% FOR key IN m.keys.sort -%]
[% IF m.$key != "" -%]
<tr><td>[% key %]</td><td>[% m.$key %]</td></tr>
[% END -%]
[% END -%]
[% END -%]
</table>
[% END -%]

[% FOREACH vset IN gto.computed_variants -%]
[% IF vset.tool == "pangolin" -%]
<h2>All Pangolin output data</h2>
[% FOR k IN vset.tool_output.keys.sort -%]
[% k %]: [% vset.tool_output.$k %]<br> 
[% END -%]
[% END -%]
[% END -%]

</body>
</html>
